html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Space Mono';font-size: 22px;
}

body {
    display: flex;
    flex-direction: column;
}

.header-class {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    text-decoration: none;
    color: black;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin-right: 300px;
}

.nav-links a {
    text-decoration: none;
    color: blue;
    margin: 0 15px;
    font-weight: bold;
    cursor: pointer;
}

table {
    width: 97%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.header-class {
    background-color: #f2f2f2; /
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.header-class h1 {
    text-align: left;
    line-height: 1.5;
    padding-left: 20px;
    margin: 0;
    font-size: 34px;
    color: #16781c;
}


.header-class a {
    color: #4CAF50;
    text-decoration: none;
    transition: color 0.3s;
}

.header-class a:hover {
    color: #388E3C;
}

footer{
    font-size: 16px;
    color: #666;
    text-align: center;
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;

}

.footer-button {

    color: #fff;
    padding: 10px 20px;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}


th {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

tr:hover {background-color: #f5f5f5;}
tr:nth-child(even) {background-color: #f2f2f2;}


.cont-h1 {
    margin-top: 0px;
    text-align: center;
    margin-bottom: 0px;
    font-size: 22px;
    background-color: #f2f2f2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-add {
    height: 100%;
    width: 30%;
    margin: 40px auto;
    background-color: #f2f2f2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    padding: 20px;

}

.view_main{
    background-color: #f2f2f2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: 100%;
}

.form-package {
    width: auto;
    margin: 0 auto;
    margin-top: 30 px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #f8f8f8;

}

.form-container {
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #f8f8f8;
}

.form-input-class, .form-textarea-class {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    color: #383838;
    background-color: white;
}

.form-input-class:focus, .form-textarea-class:focus {
    border-color: #808080;
    outline: none;
}

.form-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-button:hover {
    background-color: #45a049;
}

.form-button-back {
    background-color: red;
    color: white;
    padding: 10px 20px;
    margin: 15px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-button-back:hover {
    background-color: #b0162c;
}

.form-pack-btn{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.fform-pack-btn:hover {
    background-color: #45a049;
}

.proxy-count {
    margin-top: 10px;
}

.expired {
    background-color: #ffcccc;
}


/* Profile */
.container {
    width: 100%;
    margin-bottom: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.proxy-list h2 {
    margin-top: 20px;
}

.proxy-list ul {
    list-style: none;
    padding-left: 0;
}

.proxy-list li {
    margin-bottom: 10px;
    font-size: 1em;
    position: relative;
}


.orders {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.order {
    font-size: 12px;
    flex: 1 1 1 calc(33.333% - 20px);
    margin: 10px;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #f9f9f9;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 380px;
}

.order:hover {
    transform: scale(1.01);
    z-index: 0.05;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.order-content {
    margin-top: -15px;
    flex-grow: 1;
}

.order-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
    margin-top: -10px;
}

.order.expired {
    background-color: #ff9999;
}

.proxy-item:nth-child(n+11) {
    display: none;
}

.showMoreProxies, .showLessProxies {
    background: none;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 0;
}

.showMoreProxies i, .showLessProxies i {
    color: #70cc57;
    font-size: 1em;
}

.showMoreProxies:hover i, .showLessProxies:hover i {
    color: #4aa553;
}

.delete-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.delete-button i.fa-trash {
    color: #d9534f;
    font-size: 1.2em;
}

.delete-button:hover i.fa-trash {
    color: #b52b27;
}

.sort-icon {
    font-size: 1.2em;
    cursor: pointer;
    margin-left: 5px;
    vertical-align: middle;
    color: #006400;
    transition: color 0.3s ease;
}

.sort-icon:hover {
    color: #004d00;
}

.copy-proxies-button {
        cursor: pointer;
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 5px 7px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        border-radius: 5px;
}



.footer-button:hover {
    background-color: #c8f0bf;
    color: #fff;
    border: 2px solid #45a049;
}

.order-info {
    font-weight: bold;
    margin-left: 10px;
    color: #333;
}

.p-profile{
    margin-bottom: -10px;
    font-size: 18px;
}