<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proxy Guard</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Space Mono' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>

<body>
    <header class="header-class">
    <div class="header-container">
        <h1 class="logo"><a href="/">Proxy Guard</a></h1>
        <nav class="nav-links">
            <a href="/add_proxy">Add Proxy</a>
            <a href="/add_proxy_package">Add Packet</a>
        </nav>
    </div>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    <footer class="footer">
        <span>Copyright &#169; 2023 WEB3EBSH. All rights reserved.</span>
    </footer>
<script src=""></script>
</body>

</html>

