{% extends 'base.html' %}

{% block content %}

<div class="container">
        <header>
            <h1>{{customer_name}}</h1>
        </header>

        <section class="orders">
        {% for order in orders %}
            <div class="order" data-id="{{ order._id }}" data-customer="{{ customer_name }}" data-expiration="{{ order.expiration_date }}">
                <div class="order-header">
                <p><strong>Purchase Date:</strong> {{ order.purchase_date }}</p>
                <p><strong>Expiration Date:</strong> {{ order.expiration_date }}</p>
                <p><strong>Price:</strong> {{ order.price_per_proxy}}</p>
                <p><strong>Quantity:</strong> {{ order.proxy_count}}</p>
                <p><strong>Total Price:</strong> {{ order.total_price }}</p>
                <p><strong>Margin:</strong> {{ order.margin}}</p>
                <p><strong>Profit:</strong> {{ order.profit}}</p>
                </div>
                <div class="order-content">
                <section class="proxy-list">
                    <h2>Proxy List</h2>
                    <ul id="proxyList">
                    {% for proxy in order.proxy_list %}
                        <li class="proxy-item">{{ loop.index }}. {{ proxy }}</li>
                    {% endfor %}
                    </ul>
                </section>
                </div>
                <div class="order-footer">
                    {% if order.proxy_list|length > 10 %}
                        <button class="showMoreProxies">
                            <i class="fa fa-plus"></i>
                        </button>
                        <button class="showLessProxies" style="display: none;">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button class="delete-button">
                            <i class="fa fa-trash"></i>
                        </button>
                    {% endif %}
                    </div>
            </div>
        {% endfor %}
        </section>
    </div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.orders .order').forEach(function(order) {
        var showMoreButton = order.querySelector('.showMoreProxies');
        var showLessButton = order.querySelector('.showLessProxies');

        if (showMoreButton && showLessButton) {
            showMoreButton.addEventListener('click', function() {
                order.querySelectorAll('.proxy-item').forEach(function(proxy) {
                    proxy.style.display = 'list-item';
                });
                showMoreButton.style.display = 'none';
                showLessButton.style.display = 'block';
            });

            showLessButton.addEventListener('click', function() {
                order.querySelectorAll('.proxy-item').forEach(function(proxy, index) {
                    if (index >= 10) {
                        proxy.style.display = 'none';
                    }
                });
                showLessButton.style.display = 'none';
                showMoreButton.style.display = 'block';
            });
        }
    });
});
document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.orders .order').forEach(function(order) {
        var expirationDateStr = order.getAttribute('data-expiration');
        var expirationDate = new Date(expirationDateStr);

        if (expirationDate < new Date()) {
            order.classList.add('expired');
        }
    });
});
document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.orders .order').forEach(function(order) {
        var deleteButton = order.querySelector('.delete-button');
        deleteButton.addEventListener('click', function() {
            var orderId = order.getAttribute('data-id');
            var customerName = order.getAttribute('data-customer');

            fetch(`/delete_order/${customerName}/${orderId}`, {
                method: 'DELETE'
            })
            .then(response => {
                if(response.ok) {
                    order.parentNode.removeChild(order);
                } else {
                    alert("Error: Couldn't delete the order.");
                }
            })
            .catch(error => alert("Network error: " + error.message));
        });
    });
});
</script>

{% endblock content %}